version: 2
updates:
  # Enable version updates for Maven
  - package-ecosystem: "maven"
    directory: "/"
    schedule:
      interval: "weekly"
      day: "monday"
      time: "04:00"
    target-branch: "develop"
    assignees:
      - "Saby007"
    commit-message:
      prefix: "[security]"
      include: "scope"
    labels:
      - "dependencies"
      - "security"
    open-pull-requests-limit: 10
    
  # Enable version updates for GitHub Actions
  - package-ecosystem: "github-actions"
    directory: "/"
    schedule:
      interval: "weekly"
      day: "monday" 
      time: "04:00"
    target-branch: "develop"
    assignees:
      - "Saby007"
    commit-message:
      prefix: "[ci]"
      include: "scope"
    labels:
      - "github-actions"
      - "ci-cd"
    open-pull-requests-limit: 5

  # Enable version updates for Docker
  - package-ecosystem: "docker"
    directory: "/user-service"
    schedule:
      interval: "weekly"
      day: "monday"
      time: "04:00"
    target-branch: "develop"
    assignees:
      - "Saby007"
    commit-message:
      prefix: "[docker]"
      include: "scope"
    labels:
      - "docker"
      - "security"
    open-pull-requests-limit: 5

  - package-ecosystem: "docker"
    directory: "/order-service"
    schedule:
      interval: "weekly"
      day: "monday"
      time: "04:00" 
    target-branch: "develop"
    assignees:
      - "Saby007"
    commit-message:
      prefix: "[docker]"
      include: "scope"
    labels:
      - "docker" 
      - "security"
    open-pull-requests-limit: 5